$color_1: #000;
$color_2: #000;
$background_color_1: #FFF;
.social-list
{
  .socialbox {
    font-weight: 300;
    display: block;
    float:left;
    text-decoration: none;
    color: $color_1;
    padding: 10px 30px;
    width: 45%;
    margin: 2%;

    background-color: $background_color_1;
    border: 1px solid #000;

    .social-icon {
      font-size: 30px;
      display: inline-block;
      vertical-align: middle;
      color: $color_2;

    }
    .description {
      display: inline-block;
      vertical-align: middle;
      padding-left: 10px;
      font-size: 13px;
      span {
        display: block;
        line-height: 16px;
      }
    }

    .facebook {
      -webkit-transition: background-color 0.25s ease-in-out;
      transition: background-color 0.25s ease-in-out;
    }
    .twitter {
      background-color: $background_color_1;
      -webkit-transition: background-color 0.25s ease-in-out;
      transition: background-color 0.25s ease-in-out;
    }
    .pinterest {
      background-color: $background_color_1;
      -webkit-transition: background-color 0.25s ease-in-out;
      transition: background-color 0.25s ease-in-out;
    }
    .linkedin {
      background-color: $background_color_1;
      -webkit-transition: background-color 0.25s ease-in-out;
      transition: background-color 0.25s ease-in-out;
    }

  }
}

