.categories-block {
  .categories-list {
    width: 100%;
    font-family: 'Open Sans Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    .categories-title {
      font-weight: bold;
    }
    li {
      width: 46%;
      margin: 2%;
      float: left;
      a {
        width: 100%;
        float: left;
        border: 2px solid #000;
        padding: 35px 10px;
        text-align: center;
      }
    }
  }
}
