.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 0 10px;
  background: #FFF;
  border:1px solid #000;
  color: #fff;
  font-size: 1.7142857143em;
  text-align: center;
  z-index: 9;
  i{
    color:$main-text-color;
  }
}