.article-list
{
  @include serif-font();
  padding-bottom: 42px;
  float: left;
  width: 100%;
  display: block;

  .list-header
  {
    margin-bottom: 31px;
    .list-title
    {
      font-weight: bold;
      font-size: 23px;

    }
    .see-all
    {
      text-decoration: underline;
      @include serif-font();
    }
  }
  .title
  {
    font-size: 16px;
    font-weight: bold;
    margin: 23px 0 9px 0;
  }
  .desc{
    font-size: 14px;
  }
  .date-comment
  {
    margin-bottom: 24px;
    font-size: 13px;
  }
}