//FONT
@font-face {
  font-family: 'Open Sans Light';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTRa1RVmPjeKy21_GQJaLlJI.woff) format('woff');
}


//GLOBAL
body {
  font-size: 20px;
  color: $main-text-color;
  @include serif-font;
}

p {
  line-height: 1.5;
  margin: 30px 0;
  a {
    text-decoration: underline;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
  @include roboto-slab-serif-font;
}

a {
  color: $main-text-color;
  text-decoration: none;

  @include transition-all;
  &:focus,
  &:hover {
    color: $main-color;
    text-decoration: none;
  }

}

a img {
  &:focus,
  &:hover {
    cursor: zoom-in;
  }
}

blockquote {
  font-style: italic;
}

::-moz-selection {
  color: white;
  background: $main-color;
  text-shadow: none;
}

::selection {
  color: white;
  background: $main-color;
  text-shadow: none;
}

img::selection {
  color: white;
  background: transparent;
}

img::-moz-selection {
  color: white;
  background: transparent;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-hr {
  border-top: 2px solid #000;
  width: 100%;
  display: block;
  float: left;
  height: 1px;
  margin: 40px 0;

}

.body-hr
{
  margin: 20px 0 12px 0;
}

//CAROUSEL
.carousel-control.left,
.carousel-control.right {
  background-image: none
}

.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev, .carousel-control .icon-next {
  width: 20px;
  height: 30px;
  font-size: 25px;
}
.carousel-control:focus {
  opacity: 0.5;
}

.carousel-control:hover {
  background-color: inherit;
}

.carousel-custom
{
  position: absolute;
  top: 50%;
  z-index: 5;
  width: 19px;
  height: 31px;
  background:url("../images/slider-back.png") no-repeat;
  display: inline-block;
}

.carousel-next
{
  background:url("../images/slider-next.png") no-repeat;
}



.intro-img
{
  margin-bottom: 42px;
  position: relative;
  .intro-text
  {
    position: absolute;
    top: 44px;
    left:0;
    font-size: 23px;
    @include roboto-slab-serif-font();
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing:3px;

    @media (max-width: $screen-sm) {
      position: relative;
      top: 0;
      margin-bottom: 25px;
    }
  }
}


.control-article
{
  width: 100%;
  display: block;
  float:left;
  font-size: 11px;
  margin-bottom: 37px;

  .back{
    float:left;
    background: url("../images/btn-back-content.png") no-repeat left;
    padding-left: 20px;
  }
  .next{
    float:right;
    background: url("../images/btn-next-content.png") no-repeat right;
    padding-right: 20px;
  }
}


@media (min-width: $screen-lg) {
  .content-left
  {
    width: 730px;
  }

  .content-right
  {
    width: 325px;
  }
}



