@mixin transition-all() {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

@mixin serif-font() {
  font-family: 'Open Sans Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
@mixin roboto-slab-serif-font() {
  font-family: 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
